a{
    align-items: flex-start;
    align-items: center;
    list-style: none;
    letter-spacing: 1px ;
    font-size: 18px;
      display: flex;
 justify-content: center;
    height: 10vh;
   margin: 10px;
}
nav{
  
}
img{
   justify-content: space-between;
}